//include material theming
@import '~@angular/material/theming';
@include mat-core();

$ewl-app-primary: 	mat-palette($mat-indigo);
$ewl-app-accent:  	mat-palette($mat-pink, A200, A100, A400);
$ewl-app-warn:    	mat-palette($mat-red);
$ewl-app-theme:		mat-light-theme($ewl-app-primary, $ewl-app-accent, $ewl-app-warn);

.equensworldline-theme
{
    @include angular-material-theme($ewl-app-theme);
	$background: map-get($ewl-app-theme, background);
	
    .mat-header-row
    {
        color: rgba(46, 6, 6, 0.54);
        background-color: #D5D5D5;
	}
	
    .no-results
    {
        background-color: mat-color($background, background);
        color: mat-color( $ewl-app-warn )
    }

    .mat-row:nth-child( even )
    {
        background-color: #f5f5f5;
    }

    .mat-row:nth-child( odd )
    {
        background-color: white;
	}

	.ui-breadcrumb, .ui-menuitem-link, .ui-breadcrumb ul li .ui-menuitem-link
    {
        background-color: mat-color($background, background);
        color: mat-color( $ewl-app-primary ) !important;
	}

	.color-primary
	{
		background-color: mat-color($background, background);
        color: mat-color( $ewl-app-primary ) !important;
	}

	.color-accent
	{
		background-color: mat-color($background, background);
        color: mat-color( $ewl-app-accent ) !important;
	}

	.color-warn
	{
		background-color:mat-color($background, background);
        color: mat-color( $ewl-app-warn ) !important;
	}
}
