
.mat-form-field + .mat-form-field 
{
	margin-left: 8px;
}

table, th, td 
{
	border: 1px solid black;
}

td
{
	padding: 0px 5px;
}

table 
{
	width: 100%;
	border-collapse: collapse;
}

.field
{
	width: 30%;
}

.value
{
	width: 70%;
}
