<mat-card id="m3u_attr.details" fxLayout="column" class="max-box">
	<mat_card-header fxFlex="50px" class="header-breadcrumb">
		<div fxFlex fxLayout="row">
			<gc-breadcrumb fxFlex="95"></gc-breadcrumb>
			<gc-help fxFlex="5" fxLayoutAlign="end" helpitem="m3u_attr"></gc-help>
		</div>
	</mat_card-header>
    <mat-card-content fxFlex="100">
        <form fxLayout="column" (ngSubmit)="onSaveClick" [formGroup]="formGroup" id="m3u_attr.form">
            <gc-text-input id="m3u_attr.MA_ATTRIBUTE" placeholder="Title" fxFlex="60px" error="true" formControlName="MA_ATTRIBUTE"></gc-text-input>
            <gc-text-input id="m3u_attr.MA_VALUE" placeholder="Link address" fxFlex="60px" error="true" formControlName="MA_VALUE"></gc-text-input>
            <gc-choice-input id="m3u_attr.MA_M_ID" placeholder="Media data" fxFlex="60px" error="true" [items]="m3uList" formControlName="MA_M_ID"></gc-choice-input>
            <gc-checkbox-input id="m3u_attr.MA_OVERIDE" placeholder="Override value" fxFlex="60px" error="true" labelPosition="after" formControlName="MA_OVERIDE"></gc-checkbox-input>
        </form>
    </mat-card-content>
    <mat-card-actions fxFlex="50px">
        <button mat-button id="m3u_attr.submit" (click)="onSaveClick()" [disabled]="!formGroup.valid" >Save</button>
        <button mat-button id="m3u_attr.cancel" (click)="onCancelClick()" tabindex="-1">Cancel</button>
    </mat-card-actions>
</mat-card>
